extends layout
mixin ddl(year)
 for t in year
  option(value=t selected=(parms.thisyear == t ? true : false))=t
mixin tbl(namel)
 for block in namel
  tr(id=block.dataid class=block.status ? "" : "user-disable")
   td=block.emid
   td=block.name
   td=block.lastName
   td=block.jobPos
   td=block.depart
   td=block.mail
   td=block.mailGroup
   td=block.status
mixin deplist(list)
 for dep in list
  option(value=dep.depid)=dep.deptitle
mixin bosslist(list)
 for boss in list
  option(value=boss.bossmail)=boss.bossname
block script
 +scss(['setting2.css','bootstrap-datepicker.min.css','datatable/datatables.min.css','datatable/buttons.dataTables.min.css','clockpicker.min.css','jquery-confirm.min.css','animate.min.css'])
 link(rel='application/x-font-ttf' , href='fonts/glyphicons-halflings-regular.ttf')
 link(rel='application/font-woff' , href='fonts/glyphicons-halflings-regular.woff')

block content
 table.display.cell-border.nowrap#display-table(style="width:100%")
  thead
   tr
    th รหัสพนักงาน
    th ชื่อ
    th นามสกุล
    th ตำแหน่ง
    th สังกัดฝ่าย
    th อีเมลล์
    th อีเมลล์ผู้บังคับบัญชา
    th คำสั่ง
  tbody#manage
   +tbl(parms.objs)

block footer
 +ssrc(['moment.min.js','transition.js','collapse.js','bootstrap-datepicker.min.js','clockpicker.min.js','datatables.min.js','dataTables.buttons.min.js','animatemodal.min.js'])