extends layout

block content
 mixin linfo(list,depart)
  each dep,index in list
   tr(id='head-'+depart[index].ID class="group_heading nodrag")
    if depart[index].depart_mail
     th(colspan="9")=depart[index].depart +' ('+ depart[index].depart_mail +')'
    else
     th(colspan="9")=depart[index].depart
   each item in dep
    if item != undefined
     tr(id='body-'+item.ID class="boding")
      td.emid=item.emid
      td.name=item.name
      td.job=item.job
      td.nickname=item.nickname
      td.ext=item.ext
      td.work=item.work
      td.private=item.private
      td.email=item.email
      if parms.operator > 3
       td.small_buttons
        div
         a.button.edit.li-edit="แก้ไข"
         a.button.save.li-save(style="display: none;")="บันทึก"
         a.button.delete.li-delete="ลบ"
    
 mixin ladd(item)
  for i in item
   li(id=i.dataid class="bt more-bt")=i.name +" "+ i.lastName
    span.fl
    span.sfl
    span.cross
    i
 mixin scss(scss)
  for t in scss
   link(rel='stylesheet' , href='css/'+t)
 mixin ssrc(scr)
  for t in scr
   script(src="js/"+t)
 mixin deadd(item)
  for t in item
   tr(ID=t.ID)
    if t.depart_mail
     td=t.depart +' ('+ t.depart_mail +')'
    else
     td=t.depart
    td=t.row+1
    td
     a.button.edit.de-edit="แก้ไขชื่อ"
 table.contact_td#contact_td
  thead#sprintlist_header.headt
   tr
    th(rowspan="2")="รหัสพนักงาน"
    th(rowspan="2")="ชื่อ - นามสกุล"
    th(rowspan="2")="ตำแหน่งงาน"
    th(rowspan="2")="ชื่อเล่น"
    th(colspan="3")="เบอร์ติดต่อ"
    th(rowspan="2")="อีเมล์"
    if parms.operator > 3
     th(rowspan="2")="เครื่องมือ"
      span
       div
        label.switch
         input#toggleDragAndDrop(type="checkbox" checked)
         span
          em
          strong
   tr
    th="เบอร์ภายใน"
    th="บริษัทฯ"
    th="ส่วนตัว"
  tbody.bodyt
   +linfo(parms.data,parms.depart)
 if parms.operator > 3
  fieldset(style="margin-top: 10px;")
   legend="รายชื่อที่ไม่มีข้อมูล"
   ul.ladd
    li(class="bt more-bt")="เพิ่มข้อมูลใหม่"
     span.fl
     span.sfl
     span.cross
     i
    if parms.list.length > 0
     +ladd(parms.list)
  fieldset(style="margin-top: 10px;")
   legend="จัดการข้อมูลหน่วยงาน"
   table.depart_td#depart_td
    thead.headt
     tr
      th="หน่วยงาน"
      th="ลำดับ"
      th
       a.button.add.de-add="เพิ่ม"
    tbody
     +deadd(parms.depart)
  +ssrc(['jquery.tablednd.js','contact.js'])
 +scss(['contact.css'])