extends layout

block content 
 mixin ssrc(scr)
  for t in scr
   script(src="js/"+t)
 mixin ddl(year)
  for t in year
   option(value=t selected=(parms.thisyear == t ? true : false))=t
 mixin snl(names)
  for n in names
   li(class=n.dataid)
    input(type="checkbox" value=`${n.name} ${n.lastName}`)
    span=`${n.name} ${n.lastName}`
 link(rel='stylesheet' , href='css/bootstrap-datepicker.min.css')
 link(rel='stylesheet' , href='css/exportmanager.css')
 link(rel='stylesheet' , href='css/datatable/datatables.min.css')
 link(rel='application/x-font-ttf' , href='fonts/glyphicons-halflings-regular.ttf')
 link(rel='application/font-woff' , href='fonts/glyphicons-halflings-regular.woff')
 .row
  .col-sm-2
   h4.align-self-center.text-info(align="right") เลือกช่วงเวลา
  .col-sm-3
   .form-group
    .input-group.input-daterange.datepicker(data-provide="datepicker")
     input.form-control.datepickera(type='text')
     .align-self-center -
     input.form-control.datepickerb(type='text')
  .col-sm-7
   button.btn.btn-sm.btn-info#view(type="button")
    i.ace-icon.fa.fa-table  View
   button.btn.btn-sm.btn-success#export(type="button")
    i.ace-icon.fa.fa-file  Export
   span.chk-list
    dl.dropdown
     dt
      a(href="#")
       span.hida เลือกรายชื่อ
       p.multiselect
     dd
      .multi-select
       ul
        +snl(parms.names)
   label(for="rdo1")
    input(type="radio" id="rdo1" name="option" value="split")
    span.rdo
    span แยกรายชื่อ
   label(for="rdo2")
    input(type="radio" id="rdo2" name="option" value="merge" checked)
    span.rdo
    span รวมหน้าเดียว
 table.show-table.display.cell-border.nowrap
 +ssrc(['moment.min.js','transition.js','collapse.js','bootstrap-datepicker.min.js','exportmanager.js','datatables.min.js'])
