extends layout

block content
 mixin table(objs)
  -var i=0
  while i < objs.length
   tr
    td.center=objs[i].className
    td.center=objs[i].title
    td.center=objs[i].time
    td.center=objs[i].dayLength
    td.center=objs[i++].userName
 mixin ssrc(scr)
  for t in scr
   script(src="js/"+t)
 if parms.user
  .space
  h3= "Login as " + parms.user
 
   