extends layout

block content
 mixin larlist(list)
  -var i=0
   for line in list
    tr(class=line.a)
     td=line.a
     td.center=line.c
     if line.e 
      td.dur.center.text-white='ใช้เกิน '+line.d
     else
      td.dur.center.text-white=line.d

 div.row
  div.col-xs-12
   div.row
    div.col-sm-9
     div.space
     div(id="calendar")
    div.col-sm-3
     if parms.operator > 2
      div.widget-box.transparent
       div.widget-header
        h4 เครื่องมือ
       div.widget-body
        div.widget-main.no-padding
         div.btn.btn-sm.btn-info#load-data อัพเดทลายนิ้วมือ
         .custom-control.custom-switch
          if parms.vacation > 0
           input.custom-control-input#toggle-vacation(type="checkbox" checked)
          else
           input.custom-control-input#toggle-vacation(type="checkbox")
          label.custom-control-label(for="toggle-vacation") ตรวจสอบเงื่อนไขการลาพักร้อนล่วงหน้า
         .custom-control.custom-switch
          if parms.maxvacation > 0
           input.custom-control-input#toggle-maxvacation(type="checkbox" checked)
          else
           input.custom-control-input#toggle-maxvacation(type="checkbox")
          label.custom-control-label(for="toggle-maxvacation") ตรวจสอบเงื่อนไขการลาพักร้อนต่อเนื่อง
     div.widget-box.transparent
      div.widget-header
       h4.widget-title="บันทึกการปฏิบัติงานประจำวัน"
       span.widget-toolbar(style="padding-bottom: 5px;")
        form.file-button(action="/upload/pic" method="POST" enctype="multipart/form-data")
         input#imageUpload(type='file' name="file" accept=".png, .jpg, .jpeg" onchange="this.form.submit();")
         label#upload-app(for="imageUpload") 
          #button-app
           i.fa.fa-camera#button-icon
     div.widget-box.transparent
      div.widget-header
       h4="ประเภทการลา (ลากไปวางในวันที่ต้องการลา)"
      div.widget-body
       div.widget-main.no-padding
        div(id="external-events")
         div(class="external-event label-grey" , data-class="label-grey")
          i.ace-icon.fa.fa-arrows
          ="ลาป่วย"
         div(class="external-event label-dark" , data-class="label-dark")
          i.ace-icon.fa.fa-arrows
          ="ลากิจไม่รับค่าจ้าง"
         div(class="external-event label-success" , data-class="label-success")
          i.ace-icon.fa.fa-arrows
          ="ลากิจ"
         div(class="external-event label-warning" , data-class="label-warning")
          i.ace-icon.fa.fa-arrows
          ="ลาพักร้อน"
         div(class="external-event label-danger" , data-class="label-danger")
          i.ace-icon.fa.fa-arrows
          ="ลาสลับวันหยุด"
         div(class="external-event label-info" , data-class="label-info")
          i.ace-icon.fa.fa-arrows
          ="ลาอื่นๆ"
     div.widget-box.transparent
      div.widget-header
       h4="ประวัติการลา"
        if parms.lars != undefined
         table.table#larlist(data-sdate=parms.sdate style="font-size: 12px;")
          tr
           td.center='ประเภท'
           td.center='ใช้แล้ว'
           td.center='คงเหลือ'
          +larlist(parms.lars)
        else
         h4='• ไม่มีประวัติ'
 block footer
  #animatedModal.animated(style="position: fixed; width: 100%; height: 100%; top: 20px; left: 0px; background-color: rgb(255, 255, 255); overflow-y: auto; z-index: -9999; opacity: 0; animation-duration: 0.5s;")
   .close-animatedModal
    i.fa.fa-remove.fa-3x
   .modal-content
    .container
     .col-12
      .showfile
    
 +ssrc(['jquery-ui.custom.min.js','clockpicker.min.js','jquery.ui.touch-punch.min.js','popper.min.js','moment.min.js','bootbox.min.js','fullcalendar.min.js','lar.js','checkin.js','bootstrap-datepicker.min.js','th.js','jquery.form.min.js','animatemodal.min.js','daterangepicker.min.js','dailywork.js'])
 +scss(['fullcalendar.min.css','ace.min.css','ace-part2.min.css','animate.min.css','clockpicker.min.css','bootstrap-datepicker.min.css','fileupload.css','daterangepicker.css'])
 style.
  .vdate {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #cae4ff;
  }
  .swapdate {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #ffff80;
  }
  .blank-error::placeholder {
    color: #FF0000 !important;
  }
  .blank-error {
    background-color: #fce4e4 !important;
    border: 1px solid #cc0033 !important;
    outline: none;
  }