doctype html
mixin scss(scss)
 for t in scss
  link(rel='stylesheet' , href='css/'+t)
mixin ssrc(scr)
 for t in scr
  script(src="js/"+t)
mixin menu(menu)
 -var menul = [[['/','หน้าแรก'],['/calendar','ระบบจอง'],['/lar','ระบบลา'],['/leavelist','รายงานการลา']],[['/','หน้าแรก'],['/calendar','ระบบจอง'],['/lar','ระบบลา'],['/leavelist','รายงานการลา']],[['/','Home'],['/calendar','ระบบจอง'],['/lar','ระบบลา'],['/approve','อนุมัติการลา'],['/sumlar','ดูข้อมูลการลา (รายบุคคล)'],['/leavelist','รายงานการลา']],[['/','หน้าแรก'],['/calendar','ระบบจอง'],['/lar','ระบบลา'],['/approve','อนุมัติการลา'],['/sumlar','ดูข้อมูลการลา (รายบุคคล)'],['/leavelist','รายงานการลา'],['/hr','HR อนุมัติการลา'],['/delreq','รายการขอยกเลิกการลา'],['/editentitle','แก้ไขสิทธิการลา'],['/setting','ตั้งค่า']],[['/','หน้าแรก'],['/calendar','ระบบจอง'],['/lar','ระบบลา'],['/approve','อนุมัติการลา'],['/sumlar','ดูข้อมูลการลา (รายบุคคล)'],['/leavelist','รายงานการลา'],['/hr','HR อนุมัติการลา'],['/delreq','รายการขอยกเลิกการลา'],['/editentitle','แก้ไขสิทธิการลา'],['/setting','ตั้งค่า']]]
 -var menun = {'0':0,'1':1,'2':2,'3':3,'4':4}
 for t in menul[menun[menu]]
  if t[1]==title
   li.selected
    a
     span=t[1]
    title=title
  else
   li
    a(href=t[0])
     span=t[1]
html
  head
  meta(charset='utf-8')
  meta(http-equiv="X-UA-Compatible" , content="IE=edge,chrome=1")
  meta(name="description" , content="with draggable and editable events")
  meta(name="viewport" , content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
  +scss(['bootstrap.min.css','jquery-ui.custom.min.css','fullcalendar.min.css','shine.css','ace-ie.min.css','font-awesome.min.css','layoutmenu.css'])
  link(rel="stylesheet" href="css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style")
  //if lte IE 9
  link(rel="stylesheet" href="css/ace-part2.min.css" class="ace-main-stylesheet")
  +ssrc(['jquery.min.js','bootstrap.min.js','ace-extra.min.js'])
   
  block script
  body(class="no-skin")
    .main-content
     .main-content-inner
      div.animatedtabs
       ul
        if parms.user
         +menu(parms.operator)
         .nav-search
          a(data-toggle="dropdown" href="#" class="dropdown-toggle" aria-expanded="false" id="username")
           span=parms.user
          ul.user-menu.dropdown-menu-right.dropdown-menu.dropdown-yellow.dropdown-caret.dropdown-close#ddlist
           li#ddlist
            a#ddlist
             i.ace-icon.fa.fa-user-circle-o
             =parms.user
           li#ddlist
            a#ddlist(href="/profile")
             i.ace-icon.fa.fa-address-book-o
             ="User Profile"
           .divider
           li#ddlist
            a#ddlist(href="/authorize/signout")
             i.ace-icon.fa.fa-power-off
             ="Logout"
        else
         li.selected
          a
           span='Home'
         .nav-search
           a(href="/login")
            span="Click here to Login"         
        //User menu
      .page-content     
       .page-header
        h1.shine=head1
       //page.header
       block content
       .footer
        .footer-inner
         .footer-content
    //-a(href="#" , id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse")
     //-i.ace-icon.fa.fa-angle-double-up.icon-only.bigger-110
  block footer