extends layout

mixin tbl(memo)
 for issue in memo
  //-var user-status = (block.status ? "user-enable" : "user-disable")
  tr(id=issue.memo_id class="tr"+ issue.memo_status)
   td=issue.memo_code
   td=issue.memo_subject
   td=issue.memo_from
   td=issue.memo_to
   td=issue.memo_title
   td Option

block script
 link(href="https://fonts.googleapis.com/css2?family=Sarabun&display=swap" rel="stylesheet")
 +scss(['memolist.css','datatable/datatables.min.css','datatable/buttons.dataTables.min.css','jquery-confirm.min.css','animate.min.css'])
 +ssrc(['memolist.js','moment.min.js','transition.js','collapse.js','datatables.min.js','dataTables.buttons.min.js','animatemodal.min.js'])

block content
 table.display.cell-border.nowrap#display-table(style="width:100%")
  thead
   tr
    th เลขที่เอกสาร
    th เรื่อง
    th จาก
    th ถึง
    th สถานะเอกสาร
    th เมนูเพิ่มเติม
  tbody#manage
   +tbl(parms.objs)