extends layout

mixin tbl(memo)
 for issue in memo
  //-var user-status = (block.status ? "user-enable" : "user-disable")
  tr(id=issue.memo_id data-status=issue.memo_status data-admin=issue.memo_admin data-boss=issue.memo_boss data-approver=issue.memo_approver class=issue.setClass)
   td.doc-no=issue.memo_code
   td.m-subject=issue.memo_subject
   td.m-from=issue.memo_from
   if issue.memo_cc
    td.m-to(data-search=issue.memo_cc.toString())=issue.memo_to
   else
    td.m-to=issue.memo_to
   td.m-status=issue.memo_title
   td Option

block script
 link(href="https://fonts.googleapis.com/css2?family=Sarabun&display=swap" rel="stylesheet")
 +scss(['memolist.css','datatable/datatables.min.css','datatable/buttons.dataTables.min.css','jquery-confirm.min.css','animate.min.css','timeline.css'])
 +ssrc(['memolist.js','moment.min.js','transition.js','collapse.js','datatables.min.js','dataTables.buttons.min.js','animatemodal.min.js','jquery-confirm.min.js'])

block content
 table.display.cell-border.nowrap#display-table(style="width:100%")
  thead.data-search(data-find=parms.depart+"|"+parms.user)
   tr
    th เลขที่เอกสาร
    th เรื่อง
    th จาก
    th ถึง
    th สถานะเอกสาร
    th เมนูเพิ่มเติม
  tbody#manage
   +tbl(parms.objs)