mixin attachfile(path,files,con)
 case con
  when 'single'
   .modal-attach-file(data-path=path)=files
  when 'multi'
   each file,index in files
    .modal-attach-file(data-path=path[index])=file
mixin ssrc(scr)
 for t in scr
  script(src="/public/js/"+t)
mixin scss(scss)
 for t in scss
  link(rel='stylesheet' , href='/public/css/'+t)
link(href="https://fonts.googleapis.com/css2?family=Sarabun&display=swap" rel="stylesheet")
+ssrc(['jquery.min.js','moment.min.js','memoview.js','animatemodal.min.js'])
+scss(['animate.min.css','ace.min.css','bootstrap.min.css','memo.css'])

if parms.objs.memo_path
 .modal-attach
  .modal-attch-title เอกสารแนบ
  hr
  .modal-attach-list
   if parms.objs.memo_singlefile
    +attachfile(parms.objs.memo_path,parms.objs.memo_singlefile,'single')
   else
    +attachfile(parms.objs.memo_path,parms.objs.memo_file,'multi')
.modal-memo
 .modal-page
  img.modal-logo(src="/public/img/logo.jpg")
  .modal-memo-head
   .modal-memo-title.center บันทึกภายใน
   table
    tbody
     tr
      td
       .modal-memo-cell
        .modal-memo-topic ถึง:
        .modal-memo-subject#modal-to
         if parms.objs.memo_to
          =parms.objs.memo_to.toString()
      td
       .modal-memo-cell
        .modal-memo-topic เลขที่เอกสาร:
        .modal-memo-subject#modal-no=parms.objs.memo_code
      td
       .modal-memo-cell
        .modal-memo-topics วันที่:
        .modal-memo-subject#modal-date=parms.objs.memo_date
     tr
      td(colspan="2")
       .modal-memo-cell
        .modal-memo-topic สำเนาเรียน:
        .modal-memo-subject#modal-cc
         if parms.objs.memo_cc
          =parms.objs.memo_cc.toString()
      td
       .modal-memo-cell
        .modal-memo-topics จาก:
        .modal-memo-subject#modal-from=parms.objs.memo_from
     tr
      td(colspan="3")
       .modal-memo-cell
        .modal-memo-topic เรื่อง:
        .modal-memo-subject#modal-subject=parms.objs.memo_subject
     tr
      td(colspan="3")
       .modal-memo-cell
        .modal-memo-topic เอกสารแนบ:
        .modal-memo-subject#modal-attach
         if parms.objs.memo_file
          =parms.objs.memo_file.toString()
   .modal-memo-content=parms.objs.memo_content.toString()
   .modal-section-signature
   .justify-content-end
    .justify-item
     .modal-section-admin#modal-section-admin
      if parms.objs.memo_admin
       .memo-admin-name 
        ="("
        span.target-select=parms.objs.memo_admin
        =")"
       .memo-admin-job=parms.objs.memo_admind
   .justify-content-around
    .justify-around
     .modal-section-approve#modal-section-approve
      if parms.objs.memo_approver
       .modal-section-seperate.memo-approve-comment ความคิดเห็น
        br
        br
       .memo-comment-underline
       br
       .memo-comment-underline
       .memo-comment-approve ผู้อนุมัติ
       .memo-approve-name
        ="("
        span.target-select=parms.objs.memo_approver
        =")"
       .memo-approve-job=parms.objs.memo_approverd
    .justify-around
     .modal-section-boss#modal-section-boss
      if parms.objs.memo_boss
       .modal-section-seperate.memo-approve-comment ความคิดเห็น
        br
        br
       .memo-comment-underline
       br
       .memo-comment-underline
       .memo-comment-approve ผู้ตรวจสอบ
       .memo-boss-name
        ="("
        span.target-select=parms.objs.memo_boss
        =")"
       .memo-boss-job=parms.objs.memo_bossd
   .modal-memo-end
#animatedModal.animated(style="position: fixed; width: 100%; height: 100%; top: 0px; left: 0px; background-color: rgb(255, 255, 255); overflow: hidden; z-index: -9999; opacity: 0; animation-duration: 0.5s;")
 .close-animatedModal
  i.close-animate Close
 .modal-content
  .container
   .col-12
    .showfile