
 mixin ssrc(scr)
  for t in scr
   script(src="js/"+t)
 mixin scss(scss)
  for t in scss
   link(rel='stylesheet' , href='css/'+t)
 mixin schk(chk)
  -var i=0
  for t in chk
   tr
    td
     input.privacy(type="checkbox" id=i checked=(parms.chk[i++] ? "True" : undefined))
     span=t
 mixin srd(rd)
  -var i=0
  for t in rd
   input(id=rd[i][0] class=rd[i][0] type="radio" name="access" value=rd[i][0] checked=(parms.operator == i ? "checked" : undefined))
   span.rb-txt(for=rd[i][0] title=rd[i][1])=i++
 .close-animatedModal
   i.fa.fa-remove.fa-3x
  .modal-content
   .container
    .col-12
     .panel
      .panel-heading
       .col-sm-4
       .col-sm-5
        h3.panel-title="Edit Privacy"
       .panel-body
       .row
        .col-sm-4
        .col-sm-5
         table.table.table-user-information
          tbody
           tr
            td(style="padding: 16px 0px 0px 7px;")="วันเริ่มงาน"
            td
             .input-group.date
              input.center.form-control.datepicker(type="text" value=parms.cdate)
           tr
            td="รหัสพนักงาน"
            td#privacyID=parms.dataid
           tr
            td="ชื่อ"
            td#privacyName=parms.user
           tr
           td="สถานที่ทำงาน"
            td
             .box
              input#wplace.Switcher__checkbox.sr-only(type="checkbox")
              label.Switcher(for="wplace")
               .Switcher__trigger(data-value="ไซต์งาน")
               .Switcher__trigger(data-value="ออฟฟิสใหญ่")
           tr
            td(style="padding: 16px 0px 0px 7px;")="ช่วงเวลาทำงาน"
            td
             .form-group
              .col-sm-3
               input.center.form-control#timepicker1(type="text" value='')
              .col-sm-1
               i.ace-icon.fa.fa-minus(style="padding: 12px 0px 0px 4px;")
              .col-sm-3
               input.center.form-control#timepicker2(type="text" value='')
           tr
            td="อีเมลล์หัวหน้า"
            td#privacyMailGroup=parms.mailGroup
           tr
            td="BOSS"
            td
             .box
              input#boss.Switcher__checkbox.sr-only(type="checkbox")
              label.Switcher(for="boss")
               .Switcher__trigger(data-value="พนักงาน")
               .Switcher__trigger(data-value="หัวหน้า")
           tr
            td="ระดับการใช้งาน"
            td
             .rating.center
              +srd([['super-happy',''],['happy','User'],['neutral','Boss'],['sad','HR'],['super-sad','Admin']])
             table.h5
              +schk(['Use Reservation','Use Leave Form','Approve Leave','Summary Leave','Leave List','HR manager','Setting'])
              +ssrc(['animatemodal.min.js'])