mixin scss(scss)
 for t in scss
  link(rel='stylesheet' , href='css/'+t)
mixin ssrc(scr)
 for t in scr
  script(src="js/"+t)
mixin leave(info)
 for day in info
  tr
   td(colspan="19")
   td(colspan="5")="ประเภทการลา: "+ 4
mixin insertline(range,list,show,lar,vacation,dateday)
 each day,i in range
  tr
   if list[day]
    td.dotted-underline(colspan="1")
    td.dotted-underline(colspan="1")=show[i]
    td.dotted-underline(colspan="10")
    td.dotted-underline(colspan="2")=list[day].timestart.substring(0,5)
    td.dotted-underline(colspan="2")=list[day].mstart
    td.dotted-underline(colspan="2")=list[day].timeend.substring(0,5)
    td.dotted-underline(colspan="2")=list[day].mend
    if lar[day]
     td.dotted-underline=lar[day].lartype
    else
     td.dotted-underline
   else
    td.dotted-underline(colspan="1")
    td.dotted-underline(colspan="1")=show[i]
    td.dotted-underline(colspan="10")
    if lar[day]
     td.dotted-underline(colspan="12")=lar[day].lartype
    else
     if vacation[day]
      td.dotted-underline(colspan="12")=vacation[day].dtitle
     else
      if dateday[day]
       td.dotted-underline(colspan="12")=dateday[day]
      else
       td.dotted-underline(colspan="12")
html
 head
  title=parms.title
  meta(charset='utf-8')
  meta(http-equiv="X-UA-Compatible" , content="IE=edge,chrome=1")
  meta(name="description" , content="with draggable and editable events")
  meta(name="viewport" , content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
  //link(href="https://fonts.googleapis.com/css2?family=Sarabun&display=swap" rel="stylesheet")
  +scss(['reporttime.css'])
 .container
  table.col-page
   thead.head-top
    tr
     td.title-top(colspan="24") รายงานแสดงเวลาของพนักงาน
    tr
     td.date-top(colspan="24")=parms.datestart +" ถึง "+parms.dateend
    tr
     td(colspan="1")
     td(colspan="7")="ชื่อ-สกุล: " +parms.username
     td(colspan="11")
     td(colspan="5")="รหัสพนักงาน: "+parms.emid
    tr
     td(colspan="1")
     td(colspan="7")="ฝ่าย: " +parms.depart
     td(colspan="11")
     td(colspan="5")="ตำแหน่ง: "+parms.job
    tr
     td.head-title(colspan="24")
    tr
     td(colspan="1")
     td(colspan="1") วันที่
     td(colspan="10")
     td(colspan="2") เวลาเข้า
     td(colspan="2") สถานที่
     td(colspan="2") เวลาออก
     td(colspan="2") สถานที่
    tr
     td.tail-title(colspan="24")
   tbody.user-desc
    +insertline(parms.datelist,parms.fingerscan,parms.dateshow,parms.lartype,parms.vacation,parms.dateday)
   tfoot 
    tr
     td(colspan="1")
     td(colspan="18")="สาย: " + parms.countLate +" วัน / เวลารวม: " + (parms.entryLate[0] > 0 ? parms.entryLate[0] +' ชั่วโมง ' : '') + (parms.entryLate[1] ? parms.entryLate[1] +' นาที' : '')
     //td(colspan="5")="จำนวนการลา: "+ (parms.countLar ? parms.countLar +' วัน' : '') +"/เวลารวม " + (parms.sumLar[0] ? parms.sumLar[0] +' วัน' : '')
  .print-btn
   button(type="submit" onclick="window.print()") Print
  