extends layout
mixin ssrc(scr)
 for t in scr
  script(src="js/"+t)
mixin scss(scss)
 for t in scss
  link(rel='stylesheet' , href='css/'+t)
mixin schk(chk)
 -var i=0
 for t in chk
  tr
   td
    input.privacy(type="checkbox" id=i checked=(parms.chk[i++] ? "True" : undefined))
    span=t
mixin srd(rd)
 -var i=0
 for t in rd
  input(class=rd[i][0] type="radio" name="access" value=rd[i][0] checked=(parms.operator == i ? "checked" : undefined))
  span.rb-txt(id=rd[i][0] title=rd[i][1])=i++

mixin tbl(namel)
 -var i=0
 -var cal = namel-(i+1)
 while i < namel
  -var dataid = parms.objs[i].dataid
  tr(class=dataid)
   td=parms.objs[i].emid
   td=parms.objs[i].name
   td=parms.objs[i].lastName
   td=parms.objs[i].jobPos
   td=parms.objs[i].depart
   td=parms.objs[i].mail
   td=parms.objs[i].mailGroup
   td=parms.objs[i++].userName
   td.center
    a.saveline.hvr-icon-bounce(title="Save")
     i.fa.fa-floppy-o.hvr-icon
    a.editline.hvr-icon-bounce(title="Edit")
     i.fa.fa-pencil-square-o.hvr-icon
    a.privacy.hvr-icon-bounce(title="Privacy Setting")
     i.fa.fa-address-card-o.hvr-icon
    a.resetline.hvr-icon-spin(title="Reset Password" data-toggle="confirmation")
     i.fa.fa-refresh.hvr-icon
    a.delete.hvr-icon-bounce(title="Delete" data-toggle="confirmation")
     i.fa.fa-trash.hvr-icon
    //-if cal .dropdown-divider
block script
 +scss(['animate.min.css'])

block content
 table.table.table-condensed#manage
  thead.thead-info
   tr
    th.center='Employee ID'
    th.center='Name'
    th.center='Lastname'
    th.center='Job Position'
    th.center='Depart'
    th.center='E-mail'
    th.center='Boss Mail'
    th.center='User Login'
    th.center='Action'
  tbody#manage
   +tbl(parms.tbl)
   tr
    td
     input#emid.add.inputex
    td
     input#name.add.inputex
    td
     input#lastName.add.inputex
    td
     input#jobPos.add.inputex
    td
     input#depart.add.inputex
    td
     input#mail.add.inputex
    td
     input#mailGroup.add.inputex
    td
     input#userName.add.inputex
    td.center
     a.addline.hvr-icon-pulse-shrink(title="Add" data-toggle="tooltip")
      i.fa.fa-plus.hvr-icon
 +ssrc(['popper.min.js','moment.min.js','setting.js','bootstrap-datepicker.min.js','jquery-confirm.min.js','clockpicker.min.js'])
 +scss(['checkbox.css','setting.css','hover.css','bootstrap-datepicker.min.css','clockpicker.min.css','jquery-confirm.min.css'])
block footer
 #animatedModal.animated(style="position: fixed; width: 100%; height: 100%; top: 0px; left: 0px; background-color: rgb(255, 255, 255); overflow-y: auto; z-index: -9999; opacity: 0; animation-duration: 0.5s;")
  .close-animatedModal
   i.fa.fa-remove.fa-3x
  .modal-content
   .container
    .col-12
     .panel
      .panel-heading
       .col-sm-4
       .col-sm-5
        h3.panel-title="Edit Privacy"
       .panel-body
       .row
        .col-sm-4
        .col-sm-5
         table.table.table-user-information
          tbody
           tr
            td(style="padding: 16px 0px 0px 7px;")="วันเริ่มงาน"
            td
             .input-group.date
              input.center.form-control.datepicker(type="text" value=parms.cdate)
           tr
            td="รหัสพนักงาน"
            td#privacyID=parms.dataid
           tr
            td="ชื่อ"
            td#privacyName=parms.user
           tr
           td="สถานที่ทำงาน"
            td
             .box
              input#wplace.Switcher__checkbox.sr-only(type="checkbox")
              label.Switcher(for="wplace")
               .Switcher__trigger(data-value="ไซต์งาน")
               .Switcher__trigger(data-value="ออฟฟิสใหญ่")
           tr
            td(style="padding: 16px 0px 0px 7px;")="ช่วงเวลาทำงาน"
            td
             .form-group
              .col-sm-3
               input.center.form-control#timepicker1(type="text" value='')
              .col-sm-1
               i.ace-icon.fa.fa-minus(style="padding: 12px 0px 0px 4px;")
              .col-sm-3
               input.center.form-control#timepicker2(type="text" value='')
           tr
            td="อีเมลล์หัวหน้า"
            td#privacyMailGroup=parms.mailGroup
           tr
            td="BOSS"
            td
             .box
              input#boss.Switcher__checkbox.sr-only(type="checkbox")
              label.Switcher(for="boss")
               .Switcher__trigger(data-value="พนักงาน")
               .Switcher__trigger(data-value="ออฟฟิสใหญ่")
           tr
            td="ระดับการใช้งาน"
            td
             .rating.center
              +srd([['super-happy',''],['happy','User'],['neutral','Boss'],['sad','HR'],['super-sad','Admin']])
             table.h5
              +schk(['Use Reservation','Use Leave Form','Approve Leave','Summary Leave','Leave List','HR manager','Setting'])
              +ssrc(['animatemodal.min.js'])