extends layout
mixin ddl(year)
 for t in year
  option(value=t selected=(parms.thisyear == t ? true : false))=t
mixin tbl(namel)
 for block in namel
  //-var user-status = (block.status ? "user-enable" : "user-disable")
  tr(id=block.dataid class=block.status ? "" : "user-disable")
   td=block.emid
   td=block.name
   td=block.lastName
   td=block.jobPos
   td=block.depart
   td=block.mail
   td=block.mailGroup
   td Option
mixin deplist(list)
 for dep in list
  option(value=dep.depid)=dep.deptitle
mixin bosslist(list)
 for boss in list
  option(value=boss.bossmail)=boss.bossname
block script
 +scss(['setting2.css','bootstrap-datepicker.min.css','datatable/datatables.min.css','datatable/buttons.dataTables.min.css','clockpicker.min.css','jquery-confirm.min.css','animate.min.css'])
 link(rel='application/x-font-ttf' , href='fonts/glyphicons-halflings-regular.ttf')
 link(rel='application/font-woff' , href='fonts/glyphicons-halflings-regular.woff')

block content
 table.display.cell-border.nowrap#display-table(style="width:100%")
  thead
   tr
    th รหัสพนักงาน
    th ชื่อ
    th นามสกุล
    th ตำแหน่ง
    th สังกัดฝ่าย
    th อีเมลล์
    th อีเมลล์ผู้บังคับบัญชา
    th คำสั่ง
  tbody#manage
   +tbl(parms.objs)

block footer
 #adderModal.animated.emp-modal-add(style="position: fixed; width: 100%; height: 100%; top: 0px; left: 0px; background-color: rgb(255, 255, 255); overflow-y: auto; z-index: -9999; opacity: 0; animation-duration: 0.5s;")
  .close-adderModal
   i.fa.fa-close.fa-3x
  .modal-content.emp-profile
   .container
    h4.center เพิ่มข้อมูลพนักงาน
    .row.profile-inner
     fieldset.row.p-2
      .col
       .form-group.col
        lebel.control-label รหัสพนักงาน
        input#add-emid.input-md(placeholder="กรอกรหัสพนักงาน")
       .form-group.col
        lebel.col.control-label ชื่อ
        input#add-name.input-md(placeholder="กรอกชื่อจริง")
       .form-group.col
        lebel.control-label นามสกุล
        input#add-lastname.input-md(placeholder="กรอกนามสกุล")
       .form-group.col
         lebel.control-label ตำแหน่ง
         input#add-position.input-md(placeholder="กรอกตำแหน่ง")
       .form-group.col
        lebel.control-label ฝ่าย
        span
         a.button.de-add.fa.fa-plus-square  เพิ่มฝ่าย
         select#add-depart
          +deplist(parms.departlist)
       .form-group.col
        lebel.control-label ผู้บังคับบัญชา
        select#add-boss
         +bosslist(parms.bosslist)
      .col
       .form-group.col
        lebel.control-label ชื่อเล่น
        input#add-nickname.input-md(placeholder="กรอกชื่อเล่น")
       .form-group.col
        lebel.control-label เบอร์ติดต่อภายใน
        input#add-teli.input-md(type="number" placeholder="กรอกเบอร์ภายใน")
       .form-group.col
        lebel.control-label เบอร์โทรส่วนตัว
        input#add-tel.input-md(type="number" placeholder="กรอกเบอร์ส่วนตัว")
       .form-group.col
        lebel.control-label เบอร์โทรบริษัท
        input#add-telw.input-md(type="number" placeholder="กรอกเบอร์บริษัท")
       .form-group.col
        lebel.control-label อีเมลล์
        input#add-mail.input-md(placeholder="กรอกอีเมลล์")
       .form-group.col
        lebel.control-label ชื่อบัญชีเข้าใช้งาน
        input#add-username.input-md(placeholder="กรอกชื่อบัญชี")
      .col
       .form-group.col
        lebel.control-label สังกัดบริษัท
        select#add-company
         option(value=0)="ไอริส กรุ๊ป"
         option(value=1)="ไบร์ท พรีแคสเตอร์"
         option(value=2)="ริคโค เมอร์คาโต"
       .form-group.col
        lebel.control-label วันเริ่มงาน
        .input-md.date
         input#add-startdate.center.datepicker(type="text" value=parms.cdate)
       .form-group.col
        lebel.control-label ช่วงเวลาทำงาน
        .break
        .row.pl-3
         input#add-starttime.col-4.timepicker1(type="text" value='')
         i.col-1.ace-icon.fa.fa-minus(style="padding: 7px 0px 0px 2px;")
         input#add-endtime.col-4.timepicker2(type="text" value='')
       .form-group.col.flex-nowrap
        label สถานที่ปฏิบัติงาน
        .break
        .row.pl-3
         label(for="add-oplace")
          input.radio-op.add-w#add-oplace(type="radio" name="place" value=0 checked=(parms.wplace != 1 ? true : false))
          .label-op.add-oplace ออฟฟิศใหญ่
         label(for="add-splace")
          input.radio-op.add-w#add-splace(type="radio" name="place" value=1 checked=(parms.wplace == 1 ? true : false))
          .label-op.add-splace หน้างาน
       .form-group.col.flex-nowrap
        label ระดับตำแหน่ง
        .break
        .row.pl-3
         label(for="add-puser")
          input.radio-op.add-p#add-puser(type="radio" name="power" value=0 checked=(parms.boss != 1 ? true : false))
          .label-op.add-puser พนักงาน
         label(for="add-pboss")
          input.radio-op.add-p#add-pboss(type="radio" name="power" value=1 checked=(parms.boss == 1 ? true : false))
          .label-op.add-pboss ผู้บังคับบัญชา
       .form-group.col.flex-nowrap
        label ระดับการใช้งาน
        .break
        .row.pl-3
         label(for="add-ruser")
          input.radio-op.add-r#add-ruser(type="radio" name="access" value=1 checked=(parms.operator == 1 ? true : false))
          .label-op.add-ruser ผู้ใช้งาน
         label(for="add-rboss")
          input.radio-op.add-r#add-rboss(type="radio" name="access" value=2 checked=(parms.operator == 2 ? true : false))
          .label-op.add-rboss หัวหน้า
         label(for="add-rhr")
          input.radio-op.add-r#add-rhr(type="radio" name="access" value=3 checked=(parms.operator == 3 ? true : false))
          .label-op.add-rhr ฝ่ายบุคคล
         label(for="add-radmin")
          input.radio-op.add-r#add-radmin(type="radio" name="access" value=4 checked=(parms.operator == 4 ? true : false))
          .label-op.add-radmin ผู้ดูแล
      .col
       .row.justify-content-center.pt-3
        input#emp-add.btn.btn-success(type="submit" name="addProfile" value="เพิ่มข้อมูล")
 #editorModal.animated.emp-modal(style="position: fixed; width: 100%; height: 100%; top: 0px; left: 0px; background-color: rgb(255, 255, 255); overflow-y: auto; z-index: -9999; opacity: 0; animation-duration: 0.5s;")
  .close-editorModal
   i.fa.fa-close.fa-3x
  .modal-content.emp-profile
   .container-lg
    .row
     //.col
      #user-status
      //if we have time.may add picture profile
     .col
      .profile-head
       h5
        span#edit-name Name
        span  
        span#edit-lastname Lastname
        span  (
        span#edit-nickname nickname
        span )
       h6#edit-job Job Position
       p.profile-depart#edit-depart Department
     .col
      input.profile-btn.edit-user(name="editProfile" value="แก้ไขข้อมูล")
      input.profile-btn.del-user(name="deleteProfile" value="ลบบัญชี")
    .row
     .col
      .row
       .col-sm-2
        i.fa.fa-id-card-o(title="รหัสพนักงาน")
       .col-sm-10
        span#edit-emid Employee ID
      .row
       .col-sm-2
        i.fa.fa-building-o(title="สถานที่ทำงาน")
       .col-sm-10
        span#edit-wplace สถานที่ทำงาน
      .row
       .col-sm-2
        i.fa.fa-briefcase(title="ช่วงเวลาทำงาน")
       .col-sm-10
        span#edit-stime 00:00
        span  - 
        span#edit-etime 00:00
      .row
       .col-sm-2
        i.fa.fa-phone(title="หมายเลขโทรศัพท์สำนักงาน")
       .col-sm-10
        span 02-196-1100-1 (
        span#edit-phone ext
        span )
      .row
       .col-sm-2
        i.fa.fa-mobile(title="หมายเลขโทรศัพท์ส่วนตัว")
       .col-sm-10 
        span#edit-mobile Phone number
      .row 
       .col-sm-2 
        i.fa.fa-phone-square(title="หมายเลขโทรศัพท์บริษัท")
       .col-sm-10 
        span#edit-workphone Work Phone number
      .row
       .col-sm-2
        i.fa.fa-envelope-o(title="อีเมล")
       .col-sm-10
        span#edit-email Email
     .col
      .row
       .col-md-6
        p วันที่เริ่มงาน
       .col-md-6
        p#edit-sdate DD/MM/YYYY
      .row
       .col-md-6
        p สถานะ
       .col-md-6
        p#edit-bossstatus พนักงาน/หัวหน้า
      .row
       .col-md-6
        p ผู้บังคับบัญชา
       .col-md-6
        p#edit-boss ชื่อ-สกุล (Email)
      .row
       .col-md-6
        p ชื่อบัญชี
       .col-md-6
        p#edit-username userName
      .row.flex-nowrap
       .col-md-6
        p รหัสผ่าน
       .col-md-6
        p#edit-password Reset Password
      .row
       .col-md-6
        p กำหนดวันลาออก
       .col-md-6
        p.retirement#edit-retire DD/MM/YYYY
    

 +ssrc(['moment.min.js','transition.js','collapse.js','bootstrap-datepicker.min.js','clockpicker.min.js','setting2.js','datatables.min.js','dataTables.buttons.min.js','animatemodal.min.js'])